@charset "UTF-8";

* {
    margin: 0px;
    padding: 0px;
    font-family: Arial, Helvetica, sans-serif;
}


::-webkit-scrollbar { /*esconde a barra de rolagem*/
    width: 0px;
    height: 0px;
}

img {
    width: 100vw;
    background-size: cover;
}

a {
    display: block;
    background-color: rgb(230, 226, 226);
    color: black;
    padding: 15px;
    text-align: center;
    font-weight: bolder;
    text-decoration: none;
}

a:hover {
    background-color: red;
    color: white;
    transition: transform, 0.3s;
}

